<nav>
    <a routerLink="/">一覧</a>
</nav>

	<header>
		<div class="belt-switch">
			<input type="radio" name="switch" id="radio1" [checked]="this.beltType===0"><label for="radio1" (click)="setBeltSwitch(0);">戦神（邪神）</label>
			<input type="radio" name="switch" id="radio2" [checked]="this.beltType===1"><label for="radio2" (click)="setBeltSwitch(1);">輝石（王家）</label>
 		</div>
		<section id="completed">
			<button type="button" class="completed" [disabled]="!isCompleted()" (click)="onClickComplete()"><i class="far fa-check-circle"></i>入力完了</button>
			<input type="text" class="note" placeholder="ベルトメモ" [(ngModel)]="note" size="40">
		</section>
	</header>
	<section id="slots">
        <table>
            <tr *ngFor="let slot of slots; index as slotIdx" [class.active]="currentSlot === slotIdx">
                <td><button type="button" class="category" [class.active]="currentField === 0" (click)="setCurrentSlot(slotIdx, 0);">{{getSlotCategoryName(slot)}}</button></td>
                <td><button type="button" class="subcategory" [class.active]="currentField === 1" [class.hidden]="!shouldShowSubCategory(slot)" (click)="setCurrentSlot(slotIdx, 1);">{{getSlotSubCategory(slot)}}</button></td>
                <td><button type="button" class="attribute" [class.active]="currentField === 2" [class.hidden]="!shouldShowAttribute(slot)" (click)="setCurrentSlot(slotIdx, 2);">{{getSlotAttribute(slot)}}</button></td>
            </tr>
        </table>
    </section>

	<section id="maumet" *ngIf="beltType==0">
		<section id="category-button" [class.hidden]="currentField !== 0">
			<div class="container" *ngFor="let group of masterDataService.getMaumetGroups()">
				<h2>{{group.name}}</h2>
				<button type="button" (click)="onClickCategory(category)" *ngFor="let category of masterDataService.getCategoriesOfGroup(group)">{{category.shortLabel}}</button>
			</div>
		</section>

		<section id="subcategory-button" [class.hidden]="currentField !== 1">
			<div>
				<h2>属性系</h2>
				<button type="button" (click)="onClickSubCategory(subCategory);" *ngFor="let subCategory of getSlotSubCategoryOptions(getCurrentSlot())">{{subCategory.name}}</button>
			</div>
		</section>

		<section id="attribute-button" [class.hidden]="currentField !== 2">
			<div>
				<h2>すごさ</h2>
				<button type="button" (click)="onClickAttribute(attribute);" *ngFor="let attribute of getSlotAttributeOptions(getCurrentSlot())">{{attribute.name}}</button>
			</div>
		</section>
	</section>

	<section id="anlucea" *ngIf="beltType==1">
		<section id="category-button" [class.hidden]="currentField !== 0">
			<div class="container" *ngFor="let group of masterDataService.getAnluceaGroups()">
				<h2>{{group.name}}</h2>
				<button type="button" (click)="onClickCategory(category)" *ngFor="let category of masterDataService.getCategoriesOfGroup(group)">{{category.shortLabel}}</button>
			</div>
		</section>
		<section id="attribute-button" [class.hidden]="currentField !== 2">
			<div>
				<h2>すごさ</h2>
				<button type="button" (click)="onClickAttribute(attribute);" *ngFor="let attribute of getSlotAttributeOptions(getCurrentSlot())">{{attribute.name}}</button>
			</div>
		</section>
	</section>