<header *ngIf="!isImportMode()">
    <div><a href="#" (click)="onClickExport($event)"><i class="fas fa-external-link-alt"></i>エクスポート</a></div>
    <div><a routerLink="/saveslot/"><i class="fas fa-sync-alt"></i>キャラ切り替え</a></div>
</header>
<h1 *ngIf="beltDataService.isSaveslotEnabled()">{{getOwnerName()}} のベルト一覧 ({{getBeltCount()}})</h1>
<h1 *ngIf="!beltDataService.isSaveslotEnabled()">ベルト一覧 ({{getBeltCount()}})</h1>
<div id="add" *ngIf="!isImportMode()"><a routerLink="/b/new"><i class="far fa-plus-square"></i>ベルト追加</a></div>
<section id="import" *ngIf="isImportMode()">
    <div class="message" *ngIf="!beltDataService.isSaveslotEnabled()">このデータで上書きしますか？</div>
    <div class="message" *ngIf="beltDataService.isSaveslotEnabled()">このデータで {{beltDataService.getSaveslotName()}} のデータを上書きしますか？</div>
    <ul class="yesno">
        <li class="yes"><button type="button" (click)="onClickImportYes();">はい</button></li>
        <li><button type="button" (click)="onClickImportNo();">いいえ</button></li>
    </ul>
</section>
<section id="belt-search">
    <button type="button" (click)="toggleConds()"><i class="fas fa-search-plus"></i>条件：</button>
    <ng-container *ngFor="let cond of conds | keyvalue"><span>{{cond.value.label}}<button (click)="onClickSearch(cond.key,cond.value.cond,cond.value.label)"><i class="fas fa-times-circle"></i></button></span>        
        </ng-container>
    <div id="belt-search-condition" [class.hidden]="!showConds">
        <div class="container">
            <button type="button" [class.active]="isCondActive('武器系', '片手剣')" (click)="onClickSearch('武器系', '0100', '片手剣');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>片手剣</button>
            <button type="button" [class.active]="isCondActive('武器系', '両手剣')" (click)="onClickSearch('武器系', '0101', '両手剣');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>両手剣</button>
            <button type="button" [class.active]="isCondActive('武器系', '短剣')" (click)="onClickSearch('武器系', '0102', '短剣');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>短剣</button>
            <button type="button" [class.active]="isCondActive('武器系', 'スティック')" (click)="onClickSearch('武器系', '0103', 'スティック');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>スティック</button>
            <button type="button" [class.active]="isCondActive('武器系', '両手杖')" (click)="onClickSearch('武器系', '0104', '両手杖');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>両手杖</button>
            <button type="button" [class.active]="isCondActive('武器系', 'ヤリ')" (click)="onClickSearch('武器系', '0105', 'ヤリ');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ヤリ</button>
            <button type="button" [class.active]="isCondActive('武器系', 'オノ')" (click)="onClickSearch('武器系', '0106', 'オノ');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>オノ</button>
            <button type="button" [class.active]="isCondActive('武器系', 'ハンマー')" (click)="onClickSearch('武器系', '0107', 'ハンマー');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ハンマー</button>
            <button type="button" [class.active]="isCondActive('武器系', '棍')" (click)="onClickSearch('武器系', '0108', '棍');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>棍</button>
            <button type="button" [class.active]="isCondActive('武器系', 'ツメ')" (click)="onClickSearch('武器系', '0109', 'ツメ');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ツメ</button>
            <button type="button" [class.active]="isCondActive('武器系', '扇')" (click)="onClickSearch('武器系', '0110', '扇');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>扇</button>
            <button type="button" [class.active]="isCondActive('武器系', 'ムチ')" (click)="onClickSearch('武器系', '0111', 'ムチ');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ムチ</button>
            <button type="button" [class.active]="isCondActive('武器系', 'ブーメラン')" (click)="onClickSearch('武器系', '0112', 'ブーメラン');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ブーメラン</button>
            <button type="button" [class.active]="isCondActive('武器系', '弓')" (click)="onClickSearch('武器系', '0113', '弓');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>弓</button>
            <button type="button" [class.active]="isCondActive('武器系', '鎌')" (click)="onClickSearch('武器系', '0114', '鎌');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>鎌</button>
        </div>
        <div class="container">
            <button type="button" [class.active]="isCondActive('呪文系', '炎呪文')" (click)="onClickSearch('呪文系', '1100', '炎呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>炎呪文</button>
            <button type="button" [class.active]="isCondActive('呪文系', '氷呪文')" (click)="onClickSearch('呪文系', '1101', '氷呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>氷呪文</button>
            <button type="button" [class.active]="isCondActive('呪文系', '光呪文')" (click)="onClickSearch('呪文系', '1102', '光呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>光呪文</button>
            <button type="button" [class.active]="isCondActive('呪文系', '闇呪文')" (click)="onClickSearch('呪文系', '1103', '闇呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>闇呪文</button>
            <button type="button" [class.active]="isCondActive('呪文系', '風呪文')" (click)="onClickSearch('呪文系', '1104', '風呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>風呪文</button>
            <button type="button" [class.active]="isCondActive('呪文系', '雷呪文')" (click)="onClickSearch('呪文系', '1105', '雷呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>雷呪文</button>
            <button type="button" [class.active]="isCondActive('呪文系', '土呪文')" (click)="onClickSearch('呪文系', '1106', '土呪文');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>土呪文</button>

            <button class="separator" type="button" [class.active]="isCondActive('パラメータ系', '攻撃力')" (click)="onClickSearch('パラメータ系', '1002', '攻撃力');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>攻撃力</button>
            <button type="button" [class.active]="isCondActive('パラメータ系', '攻魔')" (click)="onClickSearch('パラメータ系', '1004', '攻魔');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>攻魔</button>
            <button type="button" [class.active]="isCondActive('パラメータ系', '回魔')" (click)="onClickSearch('パラメータ系', '1005', '回魔');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>回魔</button>
            <button type="button" [class.active]="isCondActive('特殊効果系', '通ドロ')" (click)="onClickSearch('特殊効果系', '1500', '通ドロ');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>通ドロ</button>
            <button type="button" [class.active]="isCondActive('特殊効果系', 'レアドロ')" (click)="onClickSearch('特殊効果系', '1501', 'レアドロ');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>レアドロ</button>
        </div>
        <div class="container">
            <button type="button" [class.active]="isCondActive('特技系', '炎特技')" (click)="onClickSearch('特技系', '1200', '炎特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>炎特技</button>
            <button type="button" [class.active]="isCondActive('特技系', '氷特技')" (click)="onClickSearch('特技系', '1201', '氷特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>氷特技</button>
            <button type="button" [class.active]="isCondActive('特技系', '光特技')" (click)="onClickSearch('特技系', '1202', '光特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>光特技</button>
            <button type="button" [class.active]="isCondActive('特技系', '闇特技')" (click)="onClickSearch('特技系', '1203', '闇特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>闇特技</button>
            <button type="button" [class.active]="isCondActive('特技系', '風特技')" (click)="onClickSearch('特技系', '1204', '風特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>風特技</button>
            <button type="button" [class.active]="isCondActive('特技系', '雷特技')" (click)="onClickSearch('特技系', '1205', '雷特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>雷特技</button>
            <button type="button" [class.active]="isCondActive('特技系', '土特技')" (click)="onClickSearch('特技系', '1206', '土特技');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>土特技</button>
        </div>
        <div class="container">
            <button type="button" [class.active]="isCondActive('モンスター系', 'ドラゴン系')" (click)="onClickSearch('モンスター系', '0300', 'ドラゴン系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ドラゴン系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '虫系')" (click)="onClickSearch('モンスター系', '0301', '虫系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>虫系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '獣系')" (click)="onClickSearch('モンスター系', '0302', '獣系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>獣系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', 'ゾンビ系')" (click)="onClickSearch('モンスター系', '0303', 'ゾンビ系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>ゾンビ系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '植物系')" (click)="onClickSearch('モンスター系', '0304', '植物系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>植物系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '怪人系')" (click)="onClickSearch('モンスター系', '0305', '怪人系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>怪人系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '悪魔系')" (click)="onClickSearch('モンスター系', '0306', '悪魔系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>悪魔系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', 'エレ系')" (click)="onClickSearch('モンスター系', '0307', 'エレ系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>エレ系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '鳥系')" (click)="onClickSearch('モンスター系', '0308', '鳥系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>鳥系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '物質系')" (click)="onClickSearch('モンスター系', '0309', '物質系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>物質系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', 'スライム系')" (click)="onClickSearch('モンスター系', '0310', 'スライム系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>スライム系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', 'マシン系')" (click)="onClickSearch('モンスター系', '0311', 'マシン系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>マシン系</button>
            <button type="button" [class.active]="isCondActive('モンスター系', '水系')" (click)="onClickSearch('モンスター系', '0312', '水系');"><i class="checked far fa-check-square"></i><i class="unchecked far fa-square"></i>水系</button>
        </div>
    </div>
</section>
<ng-container *ngFor="let belt of getBelts();">
    <section *ngIf="isMatched(belt) as match">
        <div class="belt-header">
            <h2>{{beltNameFormat(belt.beltType)}}のベルト{{effectFormat(belt.slots)}}</h2>
            <div class="belt-ops">
                <button type="button" (click)="onClickUpdate(belt.keyTime);" *ngIf="!isImportMode()"><i class="fas fa-pencil-alt"></i></button>
                <button type="button" (click)="onClickDelete(belt.keyTime);" *ngIf="!isImportMode()"><i class="fas fa-trash-alt"></i></button>
                <button type="button" (click)="onClickReadNote(belt.note);"><i *ngIf="(belt.note!='') && (belt.note!=null)"  class="far fa-comment-alt"></i></button>
            </div>
        </div>
        <div class="belt-body">
            <div class="belt-slot" *ngFor="let slot of match.slots"  [class.matched]="slot.matched" [class.invalid]="slot.category==null" [attr.data-test-keyTime]="belt.keyTime">
                <div class="belt-slot-crown"><i *ngIf="isCrownCheck(slot)" class="fas fa-crown"></i></div>
                <div class="belt-slot-desc">{{stringFormat(slot)}}</div>
            </div>
        </div>
    </section>
</ng-container>
<section id="export" [class.show]="isShowExport" (click)="onClickCloseExport()">
    <div class="modal" (click)="$event.stopPropagation()">
        <div><textarea cols="50" rows="10" #exportUrlElement readonly (click)="copyToClickborad()">{{exportUrl}}</textarea></div>
        <div><button class="button" type="button" (click)="copyToClickborad()"><i class="far fa-clipboard"></i>クリップボードにコピー</button></div>
        <div><a class="button" href="{{exportUrl}}" target="_blank"><i class="fas fa-external-link-alt"></i>リンクを別タブで開く</a></div>
    </div>
</section>
<section id="readNote" [class.show]="isReadNote" (click)="onClickCloseReadNote()">
    <div class="modal" (click)="$event.stopPropagation()">
        <div><textarea cols="50" rows="10" readonly>{{displayNote}}</textarea>
        </div>
    </div>
</section>